# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude Demo Vault Files
mark-base-demo-vault/.obsidian/plugins/mark-base/main.js
mark-base-demo-vault/.obsidian/plugins/mark-base/manifest.json
mark-base-demo-vault/.obsidian/plugins/mark-base/styles.css
mark-base-demo-vault/.obsidian/workspace.json
